/* Breakpoints */
$bpMobile: 320px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1366px;

/* Padding gutter */
$gutter: 20px;

/* Font */
$primaryFont: 'Roboto', sans-serif;
$base-fontsize: 16px;
$base-lineheight: 1.4;
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

/* Colors */
$white: #FFFFFF;
$blck: #4D4D4D;
$gray1: #F2F2F2;
$gray2: #A7A8AA;
$gray3: #707070;
$gray4: #383150;
$red: #E34868;
$orange: #F3B53E;
$green: #C0D730;
$blue: #0093D3;